@import "blue";
@import "wrapper";
@import "header";
@import "navigation";
@import "footer";
//@import "ribbon";

body {
  margin: 0; 
}

h1.title {
  margin-top: 2rem;
}

h2 {
  margin: 5rem 0 2rem;
  padding: 0;
}

hr {
  margin-top: 1rem;
}

.team ul {
  list-style: none;
}

.team ul li i {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.team img, img.team {
  border-radius: 50%;
  margin: 0 0 1rem 1rem;
}

#mapid {
  height: 400px;
  margin-bottom: 2rem; 
}

ul {
  list-style-type: disc;
}

.headline {
  color: darkblue;
  font-size: larger;
  font-weight: 400;
}

.philosophy-background {
  background: url(/images/philosophy_background.jpg);
  height: 28rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing-background {
  background: url(/images/pricing_background.jpg);
  height: 28rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-background {
  background: url(/images/home_background.jpg);
  height: 28rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-background {
  background: url(/images/team_background.jpg);
  height: 28rem;
  background-position: center;
  background-repeat: no-repeat;
}

div.box {
  display: flex;
  color: #ffffff;
  background-color: #79CFE0;
  border-radius:.5em;
  border: 1px solid;
  margin: 10px 0px;
  padding:12px;
}

div.box i {
  white-space: nowrap;
  margin-right: 2rem;
}