--
title: Prezzi
---


<header class="header">
  <section class="container">
    <h1>Prezzi</h1>
  </section>
</header>


<div class="container">
  <h2>Über die Krankenkasse</h2>
  <p>
    Mit einer Verordnung vom Arzt wird die Physiotherapie von der Grundversicherung übernommen, die Rechnung wird direkt an die Krankenkasse gesendet.
  </p>
  <h2>Selbstzahler</h2>
  <p>
    Sie können auch ohne Verordnung zu uns kommen und die Rechnung selber bezahlen.
  </p>
  <table>
    <thead>
      <tr>
        <th>Angebot</th>
        <th>Einheiten</th>
        <th>Preis in CHF</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Physiotherapie</td>
        <td>30 Minuten</td>
        <td>60.-</td>
      </tr>
      <tr>
        <td>Physiotherapie</td>
        <td>45 Minuten</td>
        <td>90.-</td>
      </tr>
      <tr>
        <td>Physiotherapie</td>
        <td>60 Minuten</td>
        <td>120.-</td>
      </tr>
    </tbody>
  </table>
</div>

<section class="container">
  <hr>
  <a class="button" href="<%= url_for('/') %>">Zurück</a>
</section>