---
title_translation_key: philosophy
---

<header class="header philosophy-background"></header>

<div class="container">
  <%= Markdown.renderer.render(I18n.t("philosophy_text")).html_safe %>
</div>