---
title_translation_key: philosophy
---

<header class="header philosophy-background">
  <section class="container">
    <h1><%= t "philosophy" %></h1>
  </section>
</header>

<div class="container">
  <%= Markdown.renderer.render(I18n.t("philosophy_text")).html_safe %>
</div>

<section class="container">
  <hr>
  <a class="button" href="<%= url_for('/') %>"><%= t "back" %></a>
</section>