---
title: PhysioBlu | 404
---

<header class="header" id="home">
  <section class="container">
    <div>
      <%= partial "partials/spaceman" %>
    </div>
    <h1>404</h1>
    <h3>UH OH! You're lost.</h3>
    <p>
      The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to go back to the homepage.
    </p>
    <p>
      <a href="/" class="button">Home</a>
    </p>
  </section>
</header>

<% content_for :scripts do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <%= javascript_include_tag "spaceman" %>
<% end %>