---
title: PhysioBlu | Physiotherapie in Biel
---

<header class="header" id="home">
  <section class="container">
    <img src="/images/physioblu.svg" alt="Physioblu"/>
    <p>Physiotherapie in Biel</p>
  </section>
</header>

<div class="container" id="team">
  <h2 class="title">Team</h2>
  <hr>
  <div class="row">
    <div class="column">
      <h3>Christa Wolfgramm</h3>
      <img src="/images/christa_128.png" alt="Christa"/>
      <p>Dipl. Physiotherapeutin</p>
      <ul>
        <li>
          <a href="mailto:christa@physioblu.ch">
            <i class="gg-mail"></i> christa@physioblu.ch
          </a>
        </li>
        <li>
          <a href="tel:+41-32-508-52-82">
            <i class="gg-phone"></i> +41 32 508 52 82
          </a>
        </li>
      </ul>
    </div>

    <div class="column">
      <h3>Stefano Scomazzon</h3>
      <img src="/images/stefano_128.png" alt="Stefano"/>
      <p>Dipl. Physiotherapeut</p>
      <ul>
        <li>
          <a href="mailto:stefano@physioblu.ch">
            <i class="gg-mail"></i> stefano@physioblu.ch
          </a>
        </li>
        <li>
          <a href="tel:+41-77-532-71-12">
            <i class="gg-phone"></i> +41 77 532 71 12
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>

<section class="container" id="location">
  <h2 class="title">Standort</h2>
  <div class="row">
    <div class="column">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2713.933290466517!2d7.24353505199552!3d47.1395729790542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e194d7156ff27%3A0x8441437f04c48e94!2sNidaugasse%2022%2C%202502%20Biel!5e0!3m2!1sde!2sch!4v1603540357988!5m2!1sde!2sch" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="column">
      <h3>PhysioBlu</h3>
      <p>
        Nidaugasse 22
        2502 Biel/Bienne
      </p>
    </div>
</section>